/* Estilos de la cabecera */
ion-header {
    --background: #3880ff; /* Color de fondo azul */
    color: white;
  }
  
  ion-toolbar {
    --background: #3880ff; /* Fondo sólido azul */
    color: white;
  }
  
  ion-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }



  .contenido {
    max-width: 1000px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido */
    padding: 16px;
  }
  
    /* Centrar el título */
  .titulo {
    text-align: center;
    margin-bottom: 24px;
  }
  /* Estilo para las tarjetas de productos */
  .productos-grid {
    gap: 16px; /* Espaciado entre filas y columnas */
  }

  .producto-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Bordes redondeados */
    margin: 8px auto; /* Reducir márgenes entre tarjetas */
    max-width: 300px; /* Ancho máximo de cada tarjeta */
    text-align: center; /* Centrar contenido */
  }

  /* Centrar las imágenes */
  .imagen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px; /* Altura fija */
    overflow: hidden; /* Ocultar desbordes */
  }

  .producto-imagen {
    width: auto;
    height: 100%; /* Ajustar a la altura del contenedor */
    object-fit: contain; /* Escalar imágenes correctamente */
  }
    /* Texto dentro de las tarjetas */
  .producto-titulo {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .producto-nombr {
    color: gray;
    font-size: 1rem;
  }

  .botones-opciones {
    display: flex;
    justify-content:center;
    margin-top: 15px;
  }
  
  #paginador-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
  }
  
  #paginador-container .pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  #paginador-container .pagination li {
    margin: 0 5px;
  }
  
  #paginador-container .pagination li a {
    display: block;
    padding: 10px 15px;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    text-decoration: none;
  }
  
  #paginador-container .pagination li a:hover {
    background-color: #007bff;
    color: white;
  }
  
  #paginador-container .pagination li.active a {
    background-color: #007bff;
    color: white;
  }



  #modalEliminarProveedor {
    .modal-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; /* Asegurarse de ocupar todo el alto del modal */
      text-align: center;
    }
  
    .centered-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
    .warning-label {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 20px 0 10px;
      text-align: center;
    }
  
    .cliente-info {
      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .warning-icon {
      color: red;
      font-size: 3rem;
      margin-bottom: 20px;
    }
  
    .button-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    .close-button {
      border-radius: 50%;
      background-color: black;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  
    .close-button span {
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  
