/* Estilos de la cabecera */
ion-header {
    --background: #3880ff; /* Color de fondo azul */
    color: white;
  }
  
  ion-toolbar {
    --background: #3880ff; /* Fondo sólido azul */
    color: white;
  }
  
  ion-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }


  