ion-header {
  --background: #3880ff; /* Color de fondo azul para el header */
  color: white; /* Color del texto blanco */
}

ion-toolbar {
  --background: #3880ff; /* Fondo sólido azul */
  padding: 10px;
  color: white;
}

ion-title {
  font-size: 1.5rem;
  font-weight: bold;
}

ion-content {
  --background: #f4f5f8; /* Fondo suave */
  --padding-top: 56px; /* Evita superposición con el header */
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Estilo para los botones de acción */
ion-button {
  margin-top: 10px;
  --background: #347bf4; /* Azul Ionic */
  --color: white;
  --border-radius: 4px; /* Bordes redondeados */
}

ion-grid {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

ion-row {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  align-items: center;
}

ion-col {
  padding: 5px;
  text-align: center;
  font-weight: bold; /* Añade negrita a los encabezados */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal-content {
  text-align: center;
  padding: 10px;
}

.warning-icon {
  font-size: 50px;
  color: red;
}

.modal-actions {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.form-group {
  margin-bottom: 15px; /* Espaciado entre los campos del formulario */
}

.modal-actions {
  display: flex;
  justify-content: center;
  padding: 10px 0; /* Espaciado arriba y abajo de los botones */
}
.paginador-container {
  display: flex;
  justify-content: center; // Centrar el paginador
  margin-top: 20px; // Margen superior para separación
  padding: 10px; // Espacio interior

  // Estilos del paginador
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      margin: 0 5px; // Espacio entre los botones de paginación

      a {
        display: block;
        padding: 10px 15px; // Espacio interior de los botones
        color: #007bff; // Color del texto del enlace
        border: 1px solid #007bff; // Borde del botón
        border-radius: 5px; // Bordes redondeados
        text-decoration: none; // Sin subrayado

        &:hover {
          background-color: #007bff; // Color de fondo al pasar el mouse
          color: white; // Color del texto al pasar el mouse
        }
      }

      &.active a {
        background-color: #007bff; // Color de fondo activo
        color: white; // Color del texto activo
      }
    }
  }
}