<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" style="color: white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ selectedPageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="almacenes-lista">
    <!-- Título de la sección -->
    <ion-text class="header-text">Lista de Almacenes</ion-text><br>

    <!-- Botón de registro -->
    <ion-button (click)="openModalRegistrar()" color="primary" class="register-button">+ Registrar almacén </ion-button>

    <!-- Contenedor para los almacenes -->
    <ng-container *ngIf="almacenes.length > 0; else noAlmacenes">
      <ion-grid class="almacenes-grid">
        <!-- Diseño de Tabla para Pantallas Grandes -->
        <ng-container *ngIf="!isMobileView">
          <ion-row class="table-header">
            <ion-col size="1">N°</ion-col>
            <ion-col size="2">Almacén</ion-col>
            <ion-col size="2">Ubicación</ion-col>
            <ion-col size="3">Descripción</ion-col>
            <ion-col size="1">Capacidad</ion-col>
            <ion-col size="3">Opciones</ion-col>
          </ion-row>
          <ion-row *ngFor="let almacen of almacenes | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index" class="table-row">
            <ion-col size="1">{{ i + 1 + (p - 1) * itemsPerPage }}</ion-col>
            <ion-col size="2">{{ almacen.nombre_almacen }}</ion-col>
            <ion-col size="2">{{ almacen.ubicacion_almacen }}</ion-col>
            <ion-col size="3">{{ almacen.descripcion_almacen }}</ion-col>
            <ion-col size="1">{{ almacen.capacidad }}</ion-col>
            <ion-col size="3" class="options">
              <ion-button (click)="openModalEditar(almacen)" fill="clear" color="primary" class="action-button">
                <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="openModalEliminar(almacen)" fill="clear" color="danger" class="action-button">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ng-container>

        <!-- Diseño de Tarjeta para Pantallas Pequeñas -->
        <ng-container *ngIf="isMobileView">
          <ion-row *ngFor="let almacen of almacenes | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index" class="table-row mobile-card">
            <div class="card-content">
              <p><strong>N°:</strong> {{ i + 1 + (p - 1) * itemsPerPage }}</p>
              <p><strong>Almacén:</strong> {{ almacen.nombre_almacen }}</p>
              <p><strong>Ubicación:</strong> {{ almacen.ubicacion_almacen }}</p>
              <p><strong>Descripción:</strong> {{ almacen.descripcion_almacen }}</p>
              <p><strong>Capacidad:</strong> {{ almacen.capacidad }}</p>
              <div class="options">
                <ion-button (click)="openModalEditar(almacen)" fill="clear" color="primary" class="action-button">
                  <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="openModalEliminar(almacen)" fill="clear" color="danger" class="action-button">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ion-row>
        </ng-container>

      </ion-grid>

      <!-- Paginador -->
      <div class="paginador-container">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
    </ng-container>



    
    <!-- Mensaje de no hay almacenes -->
    <ng-template #noAlmacenes>
      <ion-label class="no-data-message">No se encontraron almacenes.</ion-label>
    </ng-template>
  </div>





  
  <!-- Modal para Registro-->
<ion-modal id="modalRegistrarAlmacen" [isOpen]="isModalOpen" [backdropDismiss]="false" >
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-title>Registrar Almacen</ion-title>
        <ion-buttons slot="end">
          <ion-button
            (click)="closeModal()"
            fill="solid"
            aria-label="Cerrar"
            style="border-radius: 50%; background-color: black; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; padding: 0;">
            <span style="color: #ffffff; font-size: 1.5rem; font-weight: bold;">X</span>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form [formGroup]="almacenForm" (ngSubmit)="createAlmacen()" style="padding: 16px">

        <!-- Nombre -->
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input formControlName="nombre_almacen"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isFieldInvalid('nombre_almacen')">
          El nombre es requerido.
        </ion-text>

        <!-- Ubicacion -->
        <ion-item>
          <ion-label position="stacked">Ubicacion</ion-label>
          <ion-input formControlName="ubicacion_almacen"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isFieldInvalid('ubicacion_almacen')">
          La Ubicacion es requerido.
        </ion-text>

        <ion-item>
          <ion-label position="stacked">Descripcion</ion-label>
          <ion-input formControlName="descripcion_almacen"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isFieldInvalid('descripcion_almacen')">
          La descripcion es requerida.
        </ion-text>
        <!-- Capacidad -->
          <ion-item>
          <ion-label position="stacked">Capacidad</ion-label>
          <ion-input   formControlName="capacidad"  (keypress)="onlyNumber($event)"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isFieldInvalid('capacidad')">
          La capacidad es requerida.
        </ion-text>
        <!-- Botones -->
        <div class="ion-text-center" style="margin-top: 20px">
          <ion-button color="primary" type="submit">Guardar</ion-button>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Modal para Editar-->
<ion-modal  id="modalEditAlmacen" [isOpen]="isModalOpenEditar" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Editar Almacen</ion-title>
        <ion-buttons slot="end">
          <ion-button
            (click)="closeModal()"
            fill="solid"
            aria-label="Cerrar"
            style="border-radius: 50%; background-color: black; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; padding: 0;">
            <span style="color: #ffffff; font-size: 1.5rem; font-weight: bold;">X</span>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form [formGroup]="almacenForm" (ngSubmit)="editarAlmacen()" style="padding: 16px;">
        <!-- Nombre -->
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input formControlName="nombre_almacen"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isFieldInvalid('nombre_almacen')">
          El nombre es requerido.
        </ion-text>

        <!-- Ubicacion -->
        <ion-item>
          <ion-label position="stacked">Ubicacion</ion-label>
          <ion-input formControlName="ubicacion_almacen"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isFieldInvalid('ubicacion_almacen')">
          La Ubicacion es requerido.
        </ion-text>

        <ion-item>
          <ion-label position="stacked">Descripcion</ion-label>
          <ion-input formControlName="descripcion_almacen"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isFieldInvalid('descripcion_almacen')">
          La descripcion es requerida.
        </ion-text>
        <!-- Capacidad -->
        <ion-item>
            <ion-label position="stacked">Capacidad</ion-label>
            <ion-input   formControlName="capacidad"  (keypress)="onlyNumber($event)"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="isFieldInvalid('capacidad')">
                  La capacidad es requerida.
        </ion-text>
        <!-- Botones -->
          <div class="ion-text-center" style="margin-top: 20px">
            <ion-button color="primary" type="submit">Actualizar</ion-button>
          </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Modal para Eliminar-->
<ion-modal id="modalEliminarAlmacen" [isOpen]="isModalOpenEliminar" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Eliminar Almacen</ion-title>
        <ion-buttons slot="end">
          <ion-button
            (click)="closeModal()"
            fill="solid"
            aria-label="Cerrar"
            class="close-button">
            <span>X</span>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form [formGroup]="almacenForm" class="modal-content">
        <div class="centered-content">
          <!-- Icono de advertencia centrado -->
          <ion-icon name="warning-outline" class="warning-icon"></ion-icon>

          <!-- Pregunta centrada -->
          <ion-label class="warning-label">
            ¿Estás seguro que deseas eliminar este almacen
          </ion-label>
          <ion-label class="cliente-info">
            {{ selectedAlmacen?.nombre_almacen }} que se tiene como ubicacion {{ selectedAlmacen?.ubicacion_almacen }}?
          </ion-label>

          <!-- Botón de eliminar centrado -->
          <div class="button-container">
            <ion-button color="danger" (click)="deleteAlmacen(selectedAlmacen?.idalmacen)">Eliminar</ion-button>
          </div>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

</ion-content>
