<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" style="color: white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ selectedPageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="proveedores-lista" style="padding: 16px">
    <p>Lista de proveedores:</p>
    <ion-button (click)="openModalRegistrar()">+ Registrar Proveedor</ion-button>
    <ng-container *ngIf="proveedores.length > 0; else noProveedores">
      <ion-grid>
        <ion-row>
          <ion-col size="1">N°</ion-col>
          <ion-col size="2">Contacto</ion-col>
          <ion-col size="1">DNI</ion-col>
          <ion-col size="1">Celular</ion-col>
          <ion-col size="1">Proveedor</ion-col>
          <ion-col size="1">Ruc</ion-col>
          <ion-col size="z">Opciones</ion-col>
        </ion-row>
        <ion-row *ngFor="let cliente of proveedores | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
          <ion-col size="1" size-sm="2" size-md="1">{{ i + 1 + (p - 1) * itemsPerPage }}</ion-col>
          <ion-col size="2">{{ cliente.apellidos }} {{ cliente.nombres }}</ion-col>
          <ion-col size="1">{{ cliente.dni }}</ion-col>
          <ion-col size="1">{{ cliente.celular }}</ion-col>
          <ion-col size="1">{{ cliente.nombre_proveedor }}</ion-col>
          <ion-col size="1">{{ cliente.ruc }}</ion-col>
          <ion-col size="2">
          <!--
            <ion-button (click)="openModalEditar(cliente)" fill="solid" color="light" style="background-color: white; color: gray; justify-content: center; display: flex; flex-direction: column;">
              <ion-icon slot="start" name="pencil" style="color: gray;"></ion-icon>  Color plomo
            </ion-button>
            <ion-button (click)="openModalEliminar(cliente)" fill="solid" color="light" style="background-color: white; color: red; justify-content: center; display: flex; flex-direction: column;">
              <ion-icon slot="start" name="trash" style="color: red;"></ion-icon> Color rojo
            </ion-button>-->
          </ion-col>
        </ion-row>
      </ion-grid>
            <!-- Paginación -->
            <div class="paginador-container">
              <pagination-controls
                (pageChange)="p = $event"
                previousLabel="Anterior"
                nextLabel="Siguiente">
              </pagination-controls>
            </div>
    </ng-container>
    <ng-template #noProveedores>
      <p>No se encontraron proveedores.</p>
    </ng-template>
  </div>
<!-- Modal para Registro-->
<ion-modal id="modalRegistrarProveedor" [isOpen]="isModalOpen" [backdropDismiss]="false" >
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-title>Registrar Proveedor</ion-title>
        <ion-buttons slot="end">
          <ion-button
            (click)="closeModal()"
            fill="solid"
            aria-label="Cerrar"
            style="border-radius: 50%; background-color: black; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; padding: 0;">
            <span style="color: #ffffff; font-size: 1.5rem; font-weight: bold;">X</span>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form [formGroup]="proveedorForm" (ngSubmit)="createProveedor()" style="padding: 16px">
        <ion-label position="stacked" >Contacto</ion-label>
        <!-- Apellidos -->
        <ion-item>
          <ion-label position="stacked">Apellidos</ion-label>
          <ion-input formControlName="apellidos"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isFieldInvalid('apellidos')">
          Los apellidos son requeridos.
        </ion-text>

        <!-- Nombres -->
        <ion-item>
          <ion-label position="stacked">Nombres</ion-label>
          <ion-input formControlName="nombres"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isFieldInvalid('nombres')">
          Los nombres son requeridos.
        </ion-text>

        <!-- DNI -->
        <ion-item>
          <ion-label position="stacked">DNI</ion-label>
          <ion-input
            formControlName="dni"
            minlength="8"
            maxlength="8"
            (keypress)="onlyNumber($event)"
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isFieldInvalid('dni')">
          El DNI debe tener 8 caracteres.
        </ion-text>

        <!-- Celular -->
        <ion-item>
          <ion-label position="stacked">Celular</ion-label>
          <ion-input
            formControlName="celular"
            minlength="9"
            maxlength="9"
            (keypress)="onlyNumber($event)"
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isFieldInvalid('celular')">
          El celular debe tener 9 caracteres.
        </ion-text>
        <ion-label position="stacked">Empresa</ion-label>
        <!-- Proveedor -->
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input formControlName="nombre_proveedor"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isFieldInvalid('nombre_proveedor')">
          Los proveedor son requeridos.
        </ion-text>
       <!-- Ruc -->
       <ion-item>
        <ion-label position="stacked">Ruc</ion-label>
        <ion-input
          formControlName="ruc"
          minlength="11"
          maxlength="11"
          (keypress)="onlyNumber($event)"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isFieldInvalid('ruc')">
        El ruc debe tener 11 caracteres.
      </ion-text>

        <!-- Botones -->
        <div class="ion-text-center" style="margin-top: 20px">
          <ion-button color="primary" type="submit">Guardar</ion-button>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>


</ion-content>
