#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content {
  transition: margin-left 0.3s ease; /* Suaviza la transición */
  margin-left: 0; /* Inicialmente no hay margen */
}

ion-menu[side="start"].ion-menu-open ~ ion-content {
  margin-left: 250px; /* Ajusta según el ancho del menú */
}