<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ selectedPageTitle }}</ion-title> <!-- Usar variable para el título -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo">
    
      <h1>Bienvenido a MAXFER</h1>
      <p>Bienvenido a la página de inicio.</p>
   
    <div class="boton-container">
      <ion-button expand="medium" (click)="abrirPDF()">Manual de Ayuda</ion-button>
    </div>






    <!-- Botón de chat flotante -->
    <div class="chat-float">
      <a [routerLink]="['/home/chatbot']">
        <img src="../../assets/icon/bot.png" alt="Chat" />
      </a>
    </div>
  </div>
</ion-content>
<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-title>© 2024 Mi Aplicación</ion-title>
  </ion-toolbar>
</ion-footer>